@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Honk&family=Luckiest+Guy&family=Monofett&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Puddles&family=Schoolbell&family=Sixtyfour+Convergence&family=Titan+One&display=swap');

body {
    background-image: url(https://muralsyourway.vtexassets.com/arquivos/ids/236286/Tropical-Beach-At-Sunset-Mural-Wallpaper.jpg?v=638164405127130000);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: top;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    text-align: center;
    align-items: center;
}
/* STYLES FOR CITY AND LOCATION*/
.head-text{
    font-family: roboto, sans-serif;
    font-size: 1.4rem;
    color: whitesmoke;
    font-weight: 650;
    text-shadow: black 2px 2px 2px;
    position: relative;
    top: 1vh;
}
#city-zip{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}
/* STYLES FOR CITY SELECTION INPUT BOX */
.change-city{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: roboto, sans-serif;
    font-size: 1.2rem;
    color: whitesmoke;
    font-weight: 650;
    text-shadow: black 2px 2px 2px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 1vh;
    border-radius: 10px;
    width: 80vw;
}

.time-date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    margin-top: -5px;
}
#city_input{
    text-align: center;
    border-radius: 6px;
    height: 2vh;
}
#searchBtn{
    min-width: 5vw;
    display: flex;
    justify-content: center;
    margin-top: 2px;
}
.weather-display{
    display: flex;
    background-color: rgba(0, 0, 0, 0.603);
    height: 20vh;
    width: 90vw;
    border-radius: 10px;
    margin-top: 1vh;
    flex-direction: column;
}
@media (min-width: 768px) {
    .change-city {
        width: 50vw; 
    }
    .weather-display{
        width: 50.5vw; 
    }
}



